:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-grey: #eeeeee;
  --basic-extra-grey: #4d4d4d;
  --basic-dark-grey: #444444;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-contacts-grey: #666666;

  --special-green: #01a25e;
  --special-hover-red: #e74246;
  --special-click-red: #d7373b;
  --special-hover-green: #00bc6c;
  --special-click-green: #00aa62;
  --special-hover-yellow: #eab534;
  --special-click-yellow: #e5a722;
  --special-hover-grey: #dfdfdf;
  --special-click-grey: #d5d5d5;
  --special-focus-white: rgba(255, 255, 255, 0.3);
  --special-focus-black: rgba(0, 0, 0, 0.3);
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
/* start main header */
.main-header {
  background-color: var(--basic-grey);
}
.main-header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.main-header-nav a {
  color: var(--basic-black);
}

.main-header-logo {
  width: 160px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 437px;
  margin-left: 202px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.site-navigation-item:not(:nth-child(4n)) {
  margin-right: 45px;
}

.site-navigation-item a:hover,
.cart:hover {
  color: var(--basic-red);
}

.site-navigation-item a:active,
.cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item a:not([href]),
.cart:not([href]) {
  border-bottom: 2px solid var(--basic-red);
}

.cart {
  margin-left: 246px;
  padding-left: 40px;
  background: url(../img/cart-icon.svg) no-repeat;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* end main header */

/* start headline */
.headline {
  background-color: var(--basic-grey);
}

.headline-container {
  background: url(../img/nerds-index-slide1.png) no-repeat 100% 0;
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  justify-content: start;
}

.headline-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
}
.button:hover {
  background-color: var(--special-hover-red);
}
.button:active {
  background-color: var(--special-click-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--special-focus-white);
}

/* end headline */

/* start services */
.services {
}
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.services-item:nth-child(1) {
  /* background: url(../img/services/illustration-1.jpg) no-repeat; */
}
.services-item:nth-child(2) {
  /* background: url(../img/services/illustration-2.jpg) no-repeat; */
}
.services-item:nth-child(3) {
  /* background: url(../img/services/illustration-3.jpg) no-repeat; */
}

.services-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.button-services {
  background-color: var(--basic-green);
}
.button-services:hover {
  background-color: var(--special-hover-green);
}
.button-services:active {
  background-color: var(--special-click-green);
}

.button-services2 {
  background-color: var(--basic-yellow);
}
.button-services2:hover {
  background-color: var(--special-hover-yellow);
}
.button-services2:active {
  background-color: var(--special-click-yellow);
}
/* end services */

/* start about-us */

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 149px;
}

.about-us-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-info2 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 290px;
  display: flex;
  justify-content: flex-start;
  /* background: url(../img/nerds-illustration.jpg) no-repeat 0 0; */
}

.about-us-info2-item:nth-child(1) {
  margin-right: 22px;
}
.about-us-info2-item:nth-child(2) {
  margin-right: 20px;
}

.about-us-item h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us-content {
  font-weight: 700;
}
.about-us-content2 {
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-info2-item p:nth-child(1) {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-us-info2-item span:nth-child(1) {
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.about-us-info2-item p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
}
/* end about-us */

/* start partners */
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.partners-item {
  opacity: 0.2;
}
.partners-item:hover {
  opacity: 1;
}
.partners-item:active {
  opacity: 0.1;
}
/* start main-footer */
.main-footer {
}
/* start contacts */
.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts address,
.contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-contacts-grey);
}

.send-message-button {
  border: none;
}
/* end contacts */
/* start-footer-content */
.footer-social {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 139px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-item:not(:nth-child(3n)) {
  margin-right: 9px;
}

.footer-content p:nth-child(1) {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--basic-black);
}

.footer-content p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-grey);
}
/* end footer */
/* start catalog header */
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* end catalog header */
/* start catalog filter price */
.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
}
.catalog-filter {
  margin: 0;
  padding: 0;
}

.catalog-filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-filter .catalog-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.catalog-price .from,
.catalog-price .to {
  background-color: var(--basic-grey);
}

/* end catalog filter price */
/* start catalog filter grid */

.catalog-grid label,
.catalog-features label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog-grid-list,
.catalog-features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-filter {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
}
.button-filter:hover {
  background-color: var(--special-hover-grey);
}
.button-filter:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--special-focus-black);
}
/* end catalog filter grid */
/* start catalog-projects */
.catalog-projects {
  margin-left: 140px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: 360px 1fr min-content;
  align-items: start;
}

.catalog-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-projects-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-sort-button {
  display: flex;
}

.catalog-projects-button {
  font-style: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
}

.button-next,
.button-back {
  opacity: 0.3;
}

.catalog-projects-button:hover,
.button-next:hover,
.button-back:hover {
  opacity: 0.6;
}

.catalog-projects-button:active,
.button-next:active,
.button-back:active {
  opacity: 1;
}

.catalog-projects-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 759px;
}

.catalog-projects-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.page-number-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-number-item:not(:last-child) {
  margin-right: 11px;
}

.page-number-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.page-number-item a:hover {
  background-color: var(--special-hover-grey);
}

.page-number-item a:active {
  background-color: var(--special-click-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--special-focus-black);
}

.page-number-item a:not([href]) {
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  background-color: var(--basic-white);
}
/* end catalog-projects */
