:root {
  --basic-black: #000000;
  --basic-light-black: #283136;
  --basic-grey: #eeeeee;
  --basic-extra-grey: #4d4d4d;
  --basic-dark-grey: #444444;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-contacts-grey: #666666;

  --special-green: #01a25e;
  --special-hover-red: #e74246;
  --special-click-red: #d7373b;
  --special-hover-green: #00bc6c;
  --special-click-green: #00aa62;
  --special-hover-yellow: #eab534;
  --special-click-yellow: #e5a722;
  --special-hover-grey: #dfdfdf;
  --special-click-grey: #d5d5d5;
  --special-focus-white: rgba(255, 255, 255, 0.3);
  --special-focus-black: rgba(0, 0, 0, 0.3);
  --special-scale-grey: #d7dcdf;
  --special-toogle-grey: #ababab;
  --special-input-border-grey: #d7dcde;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
/* start main header */
.main-header {
  background-color: var(--basic-grey);
}

.main-header .container {
}

.main-header-nav {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  padding-top: 48.98px;
}

.main-header-nav a {
  color: var(--basic-black);
}

.main-header-logo {
  width: 160px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.link-cart {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 65px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.site-navigation a,
.cart a {
  display: block;
  padding-top: 26.02px;
  padding-bottom: 9px;
}

.cart {
}

.cart .link-cart {
  padding-left: 39.84px;
  position: relative;
}

.link-cart::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-item:not(:nth-child(4n)) {
  margin-right: 45px;
}

.site-navigation-item a:hover,
.cart a:hover {
  color: var(--basic-red);
}

.site-navigation-item a:active,
.cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item a:not([href]),
.cart a:not([href]) {
  border-bottom: 2px solid var(--basic-red);
}

/* end main header */

/* start headline */
.headline {
  background-color: var(--basic-grey);
}

.headline-container {
  background: url(../img/nerds-index-slide1.png) no-repeat 97%;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  margin-bottom: 80px;
}

.headline-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;

  padding-top: 71px;
  margin-bottom: 25px;
}

.headline-item {
  margin: 0;
  margin-bottom: 38px;
}

.headline-container a {
  margin: 0;
  padding: 17px 54px 15px 54px;
  margin-bottom: 80px;
}

.slider-button1,
.slider-button2,
.slider-button3 {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: none;
}
.slider-button1 {
  top: 309px;
  left: 546px;
}
.slider-button2 {
  top: 309px;
  left: 581px;
}
.slider-button3 {
  top: 309px;
  left: 616px;
}
.slider-button-current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  background-image: url(../img/slider-button-current.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--special-hover-red);
}
.button:active {
  background-color: var(--special-click-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--special-focus-white);
}

/* end headline */

/* start services */
.services {
}
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 39px;
}

.services-item {
  width: 300px;
  padding-top: 146px;
}

.services-item:nth-child(1) {
  background: url(../img/services/illustration-1.jpg) no-repeat top center;
}
.services-item:nth-child(2) {
  background: url(../img/services/illustration-2.jpg) no-repeat top center;
}
.services-item:nth-child(3) {
  background: url(../img/services/illustration-3.jpg) no-repeat top center;
}

.services-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 25px;
}

.services-item p {
  margin: 0;
  margin-bottom: 32px;
}

.services-item .button {
  padding: 17px 40px 15px 39px;
  margin-bottom: 80px;
}

.button-services {
  background-color: var(--basic-green);
}
.button-services:hover {
  background-color: var(--special-hover-green);
}
.button-services:active {
  background-color: var(--special-click-green);
}

.button-services2 {
  background-color: var(--basic-yellow);
}
.button-services2:hover {
  background-color: var(--special-hover-yellow);
}
.button-services2:active {
  background-color: var(--special-click-yellow);
}
/* end services */

/* start about-us */
.about-us {
}

.about-us-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 149px;
}

.about-us-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-info-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.about-us-info-item:last-child {
  margin-bottom: 0;
}

.about-us-info-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.about-us-info-item:nth-child(1)::before {
  top: 50%;
  left: 0;
}

.about-us-info-item:nth-child(2)::before {
  top: 50%;
  left: 0;
}

.about-us-info-item:nth-child(3)::before {
  top: 50%;
  left: 0;
}

.about-us-info2 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 374px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 75px;
}

.about-us-item h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  padding-top: 34px;
  margin-bottom: 32px;
}
.about-us-content0 {
  margin: 0;
  margin-bottom: 42px;
}
.about-us-content {
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.about-us-content2-wrapper {
  width: 360px;
  padding-top: 245px;
  background: url(../img/nerds-illustration.jpg) no-repeat top center;
}

.about-us-content2 {
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  padding-left: 17px;
  margin-bottom: 31px;
}

.about-us-info2-item {
  position: relative;
  margin-right: 14px;
}

.about-us-info2-item:last-child {
  margin-right: 0;
}

.about-us-info2-item span {
  position: absolute;
  top: 5px;
}

.about-us-info2-item p:nth-child(1) {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 12px;
}

.about-us-info2-item span:nth-child(1) {
  font-size: 26px;
  line-height: 40px;
}

.about-us-info2-item p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

/* end about-us */

/* start partners */

.partners {
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
  margin-bottom: 80px;
  padding-top: 48px;
  padding-bottom: 35px;
}
.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.partners-item {
  position: relative;
  text-align: center;
}

.partners-item:nth-child(1) {
  padding-right: 25px;
}
.partners-item:nth-child(2) {
  padding-right: 11px;
}
.partners-item:nth-child(3) {
  padding-left: 12px;
}
.partners-item:nth-child(4) {
  padding-left: 27px;
}

.partners-item:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-60%);
}
.partners-item:nth-child(1)::after {
  right: 9px;
}
.partners-item:nth-child(3)::after {
  right: -11px;
}

.partners-item a {
  opacity: 0.2;
  margin: 0;
}
.partners-item a:hover {
  opacity: 1;
}
.partners-item a:active {
  opacity: 0.1;
}
/* start main-footer */
.main-footer {
}
/* start contacts */
.contacts {
  padding: 54px;
  position: relative;
}
iframe {
  width: 100%;
  border: none;
}
.contacts-container {
  max-width: 1440px;
}
.contacts-wrapper {
  position: absolute;
  top: 54px;
  left: 140px;
  background-color: var(--basic-white);
  padding: 49px 50px 47px 50px;
  width: 219px;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}
.contacts address {
  margin-bottom: 20px;
}
.contacts-phone {
  display: block;
  margin: 0;
  margin-bottom: 35px;
}

.contacts address,
.contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-contacts-grey);
}

.send-message-button {
  border: none;
  padding: 17px 44px 15px 44px;
}
/* end contacts */
/* start-footer-content */
.footer-social {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 139px;
  margin-top: 62px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 68px;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.social-item:not(:nth-child(3n)) {
  margin-right: 9px;
}

.social-item a:hover {
  background: linear-gradient(0deg, #e74246, #e74246), #ffffff;
}
.social-item a:active {
  background: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  fill-opacity: 0.3;
}

.footer-content p:nth-child(1) {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 7px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: var(--basic-black);
}

.footer-content p:nth-child(2) {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-grey);
}
/* end footer */
/* start catalog header */
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* end catalog header */
/* start catalog filter price */
fieldset {
  border: none;
}

.page-catalog {
  min-height: 100%;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.catalog-filter {
  margin: 0;
  padding: 0;
}

.catalog-price {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
}

.catalog-filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.range-controls {
  height: 41px;
  background-color: var(--basic-grey);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.range-controls .scale {
  height: 2px;
  background: var(--special-scale-grey);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-toogle-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}

.catalog-filter .catalog-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-light-black);
  border: none;
  border-radius: 3px;
  background: var(--basic-grey);

  font-family: inherit;
  font-size: inherit;
}
/* end catalog filter price */
/* start catalog filter grid */

.catalog-grid label,
.catalog-features label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog-grid-list,
.catalog-features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-filter {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
}
.button-filter:hover {
  background-color: var(--special-hover-grey);
}
.button-filter:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--special-focus-black);
}
/* end catalog filter grid */
/* start catalog-projects */
.catalog-projects {
  margin-left: 140px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: 360px 1fr min-content;
  align-items: start;
}

.catalog-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-projects-button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-sort-button {
  display: flex;
}

.catalog-projects-button {
  font-style: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
}

.button-up,
.button-down {
  opacity: 0.3;
}

.catalog-projects-button:hover,
.button-up:hover,
.button-down:hover {
  opacity: 0.6;
}

.catalog-projects-button:active,
.button-up:active,
.button-down:active {
  opacity: 1;
}

.catalog-projects-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 759px;
}

.catalog-projects-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.page-number-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-number-item:not(:last-child) {
  margin-right: 11px;
}

.page-number-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.page-number-item a:hover {
  background-color: var(--special-hover-grey);
}

.page-number-item a:active {
  background-color: var(--special-click-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--special-focus-black);
}

.page-number-item a:not([href]) {
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  background-color: var(--basic-white);
}
/* end catalog-projects */
/* start popup */
.modal {
  display: none;
  width: 760px;
  padding: 63px 99px 84px 101px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-grey);
  position: fixed;
  bottom: 180px;
  left: 240px;
}
.modal--show {
  display: block;
}

.modal input {
  border: none;
}
.modal h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 37px;
}

.modal h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 9px;
}

.modal p {
  margin: 0;
}

.modal label {
  font-weight: 700;
  color: var(--basic-black);
}

.modal .button {
  border: none;
  padding: 17px 83px 15px 83px;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name,
.email {
  width: 360px;
}

.input-name input,
.input-email input {
  border: 2px solid var(--special-input-border-grey);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px 14px 16px 16px;
  width: 360px;
  margin-top: 9px;
  margin-bottom: 34px;
}

.text {
  width: 760px;
}

.input-text input {
  width: 760px;
  border: 2px solid var(--special-input-border-grey);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px 414px 84px 16px;
  margin-top: 9px;
  margin-bottom: 47px;
}

.button-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: inherit;
  fill-opacity: 0.3;
}
.button-close:hover {
  fill-opacity: 1;
}
.button-close:active {
  fill-opacity: 0.1;
}
